@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/roboto.black.ttf"); 
	font-style: normal;
	font-weight: 400;
	
	
	@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/roboto.light.ttf"); 
	font-style: normal;
	font-weight: 300;
	
	
	@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/roboto.thin.ttf"); 
	font-style: normal;
	font-weight: 100;
	
	
	@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/plafair-display/PlayfairDisplaySC-Black.ttf"); 
	font-style: normal;
	font-weight: 900;
	
	@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/plafair-display/PlayfairDisplaySC-Bold.ttf"); 
	font-style: normal;
	font-weight: 700;
	
	@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/plafair-display/PlayfairDisplaySC-Regular.ttf"); 
	font-style: normal;
	font-weight: 400;
	
	@font-face {
    font-family: 'Hammersmith One';
    src: url("../fonts/hammersmith-one/HammersmithOne.ttf"); 
	font-style: normal;
	font-weight: 100;
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	@font-face {
    font-family: Honey; /* тут зададим синоним, который используем далее */
    src: url("../fonts/honey.eot"); /* это случай для IE*/
    src: url("../fonts/honey.ttf");
    src: url("../fonts/honey.woff");